*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* SLATE */
  --body-text-color: #434455;
  /*NAVY BLUE*/
  --secondary-text-color: #2e2f42;
  /* IRIS */
  --button-normal-color: #4d5ae5;
  /* OCEAN */
  --button-hover-color: #404bbf;
  /* CLOUD */
  --light-mode-color: #f4f4fd;
  /* CORNFLOWER */
  --accent-color: #e7e9fc;
  /* WHITE-C */
  --white-color: #fff;
  /* LIGHT SLATE */
  --helper-color: #8e8f99;
  /*GREEN */
  --success-color: #31d0aa;
}

body {
  color: var(--body-text-color);
  background-color: var(--white-color);
  font-family: "Roboto", sans-serif;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.container {
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/* HEADER */
.header {
  border-bottom: 1px solid var(--accent-color);
}

.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 22px;

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  /* line-height: 1.33; */
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;

  color: var(--secondary-text-color);
}

.logo-accent {
  color: var(--button-normal-color);
}

.link {
  text-decoration: none;
}
.nav-links,
.address-links,
.future-icon,
.presentation {
  display: none;
}
.menu-open-btn {
  display: inline-flex;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  stroke: var(--secondary-text-color);
}

.hamburger-menu {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: 100%;
  background-color: #ffffff;

  padding: 24px 24px 40px 40px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.menu-close-btn {
  display: flex;
  padding: 8px;

  margin-left: auto;
  margin-bottom: 32px;

  border-radius: 50%;

  border: 1px solid var(--accent-color);
  background-color: transparent;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-btn:hover,
.menu-close-btn:focus {
  fill: var(--white-color);
  background-color: var(--button-hover-color);
}

.hamburger-menu-links {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;

  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 28 4px;
}

.hamburger-menu-links .item {
  margin-bottom: 40px;
}
.hamburger-menu-links .link {
  color: var(--secondary-text-color);
}

.hamburger-menu-links .link:hover,
.hamburger-menu-links .link:focus,
.hamburger-menu-links .link.active {
  color: var(--button-hover-color);
}

.hamburger-menu-bottom {
  margin-top: auto;
}
.hamburger-menu-tel {
  display: block;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;

  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--button-normal-color);
}

.hamburger-menu-mail {
  display: block;
  margin-bottom: 48px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;
  color: var(--body-text-color);
}
.hamburger-social-list {
  margin-top: 8px;
  display: flex;
  justify-content: flex-start;
  gap: 56px;
}

.menu-social-item {
  width: 40px;
  height: 40px;
}
.menu-social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  border-radius: 50%;
  background-color: var(--button-normal-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-social-link:hover,
.menu-social-link:focus {
  background-color: var(--button-hover-color);
}
.menu-social-icon {
  width: 24px;
  height: 24px;

  fill: var(--light-mode-color);
}

.main-nav {
  display: flex;
  align-items: center;
}

/* HERO */
.hero {
  margin: 0 auto;
  padding: 112px 0;
  background-color: var(--secondary-text-color);
  text-align: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/responsive/hero-bg-mob.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/responsive/hero-bg-mob-2x.jpg");
  }
}

.hero-title {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  text-align: center;
  text-transform: capitalize;

  color: var(--white-color);
}

.order-btn,
.form-btn,
.modal-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.04em;
  cursor: pointer;

  color: var(--white-color);
  background-color: var(--button-normal-color);

  border-width: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  padding: 16px 32px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-btn:hover,
.order-btn:focus,
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--button-hover-color);
}

/* COLLECTIVE */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section {
  padding-top: 96px;
  padding-bottom: 96px;
}
/* .future.section {
  padding-bottom: 0;
} */

.section-title {
  margin-top: 0;
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
}

.section-subtitle {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
}

.future-section-subtitle {
  margin-top: 0;
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
}

.future-list .item:not(:last-child),
.team-list .item:not(:last-child) {
  margin-bottom: 72px;
}

.footer-description,
.section-text,
.footer-social-title,
.product-card,
.modal-title,
.form-label {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  letter-spacing: 0.02em;

  /* font-weight: 500; */

  color: var(--body-text-color);
}

.wrapper {
  text-align: center;
  padding: 32px 16px;
}

/* TEAM */
.team {
  background-color: var(--light-mode-color);
}

/* .team-list {
  display: flex;
} */

.team-list .item {
  background-color: var(--white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;

  /* margin-right: 24px; */
  max-width: 264px;
  margin: 0 auto;
}

/* .team-list .item:last-child {
  margin-right: 0;
} */

.team-social-list {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-social-item {
  width: 40px;
  height: 40px;
}
.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  border-radius: 50%;
  background-color: var(--button-normal-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--button-hover-color);
}
.social-icon {
  width: 16px;
  height: 16px;

  fill: var(--light-mode-color);
}

/* CUSTOMERS */

.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 16px;
  /* gap:24px; */
}
.customers-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}
/* .customers-item:nth-child(-n + 4) {
  margin-bottom: 72px;
} */
.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  border: 1px solid var(--helper-color);
  border-radius: 4px;

  fill: var(--helper-color);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--button-hover-color);
  fill: var(--button-hover-color);
}

.customers-icon {
  width: 104px;
  height: 56px;
}
/* PORTFOLIO */
section.products {
  padding-top: 96px;
  padding-bottom: 120px;
}

.products-nav-list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.products-nav-list > .item:not(:last-child) {
  margin-right: 24px;
}

.products-nav-btn {
  padding: 12px 24px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.04em;
  cursor: pointer;

  color: var(--button-normal-color);
  background-color: var(--light-mode-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products-nav-btn:hover,
.products-nav-btn:focus {
  color: var(--white-color);
  background-color: var(--button-hover-color);
  border-color: var(--button-hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.products-list {
  display: flex;
  flex-wrap: wrap;
}

.products-list .item {
  margin-right: 24px;
  margin-bottom: 48px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.products-list .item:hover,
.products-list .item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.products-list .item:nth-child(3n) {
  margin-right: 0px;
}

.products-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.products-list .item:hover .product-card,
.products-list .item:focus .product-card {
  transform: translateY(0);
}

.product-thumb {
  position: relative;
  overflow: hidden;
}

.product-card {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;

  padding: 40px 32px 164px;

  color: var(--light-mode-color);
  background-color: var(--button-normal-color);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-meta {
  padding-left: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
  border-left: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

/* FOOTER */
footer {
  background-color: var(--secondary-text-color);
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-intro,
.footer-social {
  margin-bottom: 72px;
}

.footer-logo {
  display: block;
  text-align: center;
  margin-bottom: 16px;

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-mode-color);
}

.footer-description {
  color: var(--accent-color);
  font-weight: 400;
  letter-spacing: 0.02em;
  width: 264px;
  margin: 0 auto;
}

.footer-social-title,
.form-label {
  color: var(--white-color);
  margin-bottom: 16px;
  text-align: center;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}
.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  border-radius: 50%;
  background-color: var(--body-text-color);
  fill: var(--light-mode-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--success-color);
}

/* FOOTER FORM */
/* .form-field {
  display: flex;
  align-items: center;
} */

.form-input {
  padding: 8px 16px;
  width: 100%;
  height: 40px;
  font-size: 12px;
  opacity: 0.3;
  border: 1px solid var(--white-color);
  color: var(--white-color);
  background-color: transparent;
  border-radius: 4px;
  margin-bottom: 16px;
}

.form-input::placeholder {
  color: var(--white-color);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  width: 165px;
  height: 40px;
  padding: 8px 24px;
  gap: 16px;

  fill: var(--light-mode-color);
  box-shadow: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover {
  background-color: var(--button-hover-color);
}

/* MODAL */
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  /* width: 408px;*/
  /* min-height: 586px; */
  width: 100%;
  height: auto;
  padding: 24px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1);

  background-color: #fcfcfc;
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-close-btn {
  display: flex;
  padding: 8px;

  margin-left: auto;
  margin-bottom: 24px;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--accent-color);

  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: var(--white-color);
  background-color: var(--button-hover-color);
}

.modal-title {
  margin-bottom: 16px;

  font-weight: 500;
  text-align: center;

  color: var(--secondary-text-color);
}

.modal-field {
  display: block;
  margin-bottom: 8px;
}
.modal-field:nth-child(4) {
  margin-bottom: 16px;
}
.input-label,
.check-text {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  margin-bottom: 4px;

  color: var(--helper-color);
}
.input-wrapper {
  position: relative;
}
.modal-input {
  width: 100%;
  height: 40px;
  opacity: 0.2;

  border: 1px solid var(--secondary-text-color);
  border-radius: 4px;
  padding-left: 38px;

  background-color: transparent;
  outline: transparent;

  font-size: 12px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--button-normal-color);
  opacity: 1;
}

.modal-input:focus + .input-icon {
  fill: var(--button-normal-color);
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}
.modal-textarea {
  display: block;
  width: 100%;
  height: 120px;
  padding: 8px 16px;

  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  outline: transparent;

  background-color: transparent;
  font-size: 12px;
  resize: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: var(--button-normal-color);
}

.modal-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.check-text {
  /* display: flex; */
  align-items: center;
  margin-bottom: 24px;
}

.check-text span {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;

  border: 1px solid var(--secondary-text-color);
  border-radius: 2px;

  fill: transparent;
}

.user-privacy:checked + .check-text > span {
  background-color: var(--button-hover-color);
  border: none;
  fill: var(--light-mode-color);
}

.user-privacy:focus + .check-text > span {
  border-color: var(--button-hover-color);
}

.check-link {
  color: var(--button-normal-color);
}
.modal-btn {
  display: block;
  margin: 0 auto;
  width: 169px;
  height: 56px;
}

@media screen and (max-width: 479px) {
  .hamburger-menu-tel {
    font-size: 26px;
  }

  .hamburger-social-list {
    gap: 24px;
  }

  .hero-title {
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/responsive/hero-bg-tab.jpg");
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/responsive/hero-bg-tab-2x.jpg");
    }
  }

  .team-list .item {
    width: 264px;
  }

  .modal {
    width: 392px;
    height: 586px;
  }

  .hero-title {
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/responsive/hero-bg.jpg");
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/responsive/hero-bg-2x.jpg");
    }
  }
  .menu-open-btn {
    display: none;
  }

  .site-navigation {
    display: flex;
    align-items: center;
  }

  .nav-links {
    display: flex;
    margin-left: 120px;
  }

  .nav-links > .item:not(:last-child) {
    margin-right: 40px;
  }

  .nav-links .link {
    position: relative;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--secondary-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-links .link.active {
    color: var(--button-hover-color);
  }
  .nav-links .link.active::after {
    content: "";
    position: absolute;

    display: block;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;

    background: var(--button-hover-color);
    border-radius: 2px;
  }

  .site-address {
    margin-left: auto;
  }

  .address-links {
    display: flex;
    flex-direction: column;
  }

  .address-links > .item:not(:last-child) {
    margin-bottom: 12px;
  }

  .address-links .link {
    display: flex;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

    color: var(--body-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-links .link:hover,
  .nav-links .link:focus,
  .address-links .link:hover,
  .address-links .link:focus {
    color: var(--button-hover-color);
  }

  .hero-title {
    width: 496px;
    margin-bottom: 36px;

    font-size: 56px;
  }

  .team {
    background-color: var(--light-mode-color);
  }

  .team-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 64px 24px;
  }

  .team-list .item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .team-list .item {
    margin-left: 0;
    margin-right: 0;
  }

  .customers-list {
    justify-content: center;
    gap: 72px 24px;
  }
  .customers-item {
    flex-basis: calc((100% - 48px) / 3);
    max-width: 168px;
  }

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 108px;
  }

  .footer-logo {
    text-align: start;
  }

  .footer-intro {
    margin-bottom: 72px;
  }

  .footer-social {
    margin-bottom: 0;
  }

  .footer-description {
    margin-right: 24px;
  }

  .footer-social-title,
  .form-label {
    text-align: start;
  }

  .form-field {
    display: flex;
  }

  .form-input {
    margin-right: 24px;
    width: 264px;
  }

  .future-list .item:not(:last-child),
  .team-list .item:not(:last-child) {
    margin-bottom: 0px;
  }

  .modal {
    width: 408px;
    height: 584px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .future-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 72px 24px;
  }
  .future-list .item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .future-section-subtitle {
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .nav-links {
    margin-left: 76px;
  }

  .address-links {
    flex-direction: row;
  }

  .address-links > .item:not(:last-child) {
    margin-right: 40px;
    margin-bottom: 0;
  }

  .address-links .link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .hero {
    max-width: 1440px;
    padding: 188px 0;
  }

  .hero-title {
    width: 496px;
    margin-bottom: 72px;
    font-size: 56px;
  }
  .future.section {
    padding-bottom: 0;
  }

  .future-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 8px;
    width: 264px;
    height: 112px;

    background-color: var(--light-mode-color);

    border-radius: 4px;
  }

  .future-list {
    display: flex;
  }

  .future-list > .item {
    flex-basis: 264px;
    margin-right: 24px;
  }

  .future-list > .item:last-child {
    margin-right: 0;
  }

  .section-text {
    font-weight: 400;
  }

  .future-section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: start;
  }
  .presentation {
    display: block;
  }

  .projects-list {
    display: flex;
  }

  .projects-list > .item:not(:last-child) {
    margin-right: 24px;
  }

  footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-container {
    align-items: baseline;
  }
  .footer-description {
    margin-right: 120px;
  }
  .footer-logo {
    display: block;
    margin-bottom: 16px;
  }

  .footer-intro {
    margin-bottom: 0;
  }

  .footer-social {
    margin-right: 80px;
  }

  .form-input {
    opacity: 1;
  }

  .form-input::placeholder {
    color: var(--white-color);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
  }
}
